#wrapper-canvas canvas {
  max-width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Nunito:wght@300;400;600;700;800;900&family=Russo+One&family=Spartan:wght@700;800;900&display=swap");
:root {
  --dark: #111111;
  --lightDark: #191919;
  --myDark: #27292d;
  --light: #ffffff;
  --lightGrey: #3a3a3a;
}

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Nunito", sans-serif;

}

body.light-mode {
  background-color:  #ddd;
  color: black;
  --lightDark: var(--lightGrey);
  --light: var(--dark);
}

.about-section {
      width: 90%;
      max-width: 1200px;
      height: 700px;
      background: var(--lightDark);
      border-radius: 10px;
      position: fixed;
      top: 45%;
      left: 50%;
      pointer-events: none;
      transform: translate(-50%, -45%) scale(0);
      display: flex;
      overflow: hidden;
      z-index: 1000;
      transition: transform 0.2s ease-in-out, left 0.2s ease-in-out;

      .x-icon {
        background: var(--myDark);
        border-radius: 50%;
        position: absolute;
        width: 30px;
        height: 30px;
        right: 15px;
        top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform 0.15s ease-in-out;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);

        img {
          vertical-align: middle;
          width: 50%;
        }
      }

      .x-icon:hover {
        transform: rotate(90deg) scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      .about-me {
        width: 100%;
        display: flex;
        align-items: center;

        .about-me-text {
          width: 65%;
          margin: 0 auto;
         


          ul {
            display: flex;
            flex-wrap: wrap;
            font-size: 0.85em;
            li {
              border: 1px solid #444;
              padding: 0.4em 0.8em;
              border-radius: 50px;
              margin-bottom: 0.5em;
              margin-right: 0.5em;
            }
          }

          .about-me-title {
            color: #1788ae;
            font-size: 35px;
            font-weight: 300;
            text-align: center;
            left: 10px;
            margin: 20px;
            font: 'Nunito';
          }

          .about-me-detail{
            font-size: 15px;
            color: #ffffff;
          }

          .about-me-detail p {
            margin: 10px;
          }

          

          .mern {
            margin-bottom: 2.2em;
            margin-top: 2em;
            color: #1788ae;
            /* // color: #666AF6; */
          }

          .top-skills-icons {
            display: flex;
            margin-top: 1.5em;
            position: relative;

            h2 {
              margin-top: 0.5em;
            }

            .mongodb-icon .tooltip {
              background-color: #47a248;
              color: var(--light);
            }

            .express-icon .tooltip {
              background-color: var(--light);
            }

            .react-icon .tooltip {
              background-color: #61dafb;
            }

            .node-icon .tooltip {
              background-color: #8cc84b;
              margin-left: -2px;
            }
          }

          @media (max-width: 1000px) {
            .top-skills-icons {
              justify-content: center;
            }

            .about-me-title,
            .mern {
              text-align: center;
            }

            .about-me-detail {
              width: 90%;
              margin: 0 auto;
              text-align: justify;
            }

            .about-me-detail + .about-me-detail {
              margin-top: 0.75em;
            }
          }

          @media (max-width: 400px) {
            .top-skills-icons {
              justify-content: center;
              font-size: 0.7em;

              svg {
                width: 35px;
                height: 35px;
              }
            }

            .about-me-title,
            .mern {
              text-align: center;
            }

            .mern {
              margin-top: 1em;
              margin-bottom: 1.5em;
            }

            .about-me-detail {
              width: 90%;
              margin: 0 auto;
              text-align: justify;
            }
          }

          .top-skills-icons div {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: context-menu;

            .tooltip {
              background-color: #8cc84b;
              color: var(--dark);
              padding: 0.5em 1.25em;
              font-weight: 600;
              border-radius: 50px;
              position: absolute;
              margin-bottom: 2em;
              top: -1.25em;
              box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
              opacity: 0;
              pointer-events: none;
              transition: top 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55),
                opacity 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }

            .tooltip::after {
              content: '';
              width: 12px;
              height: 12px;
              background: inherit;
              transform: rotate(45deg);
              position: absolute;
              bottom: -6px;
            }
          }

          .top-skills-icons div:hover .tooltip {
            opacity: 1;
            top: -3.25em;
          }

          .top-skills-icons div + div {
            margin-left: 2em;
          }
        }
      }

      @media (max-width: 370px) {
        .about-me {
          zoom: 90%;
        }
      }

      @media (max-width: 330px) {
        .about-me {
          zoom: 85%;
        }
      }

      .illustration {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;

        .coder-img {
          width: 100%;
        }

        @media (max-width: 1000px) {
          .coder-img {
            width: 60%;
            min-width: 270px;
          }
        }
      }

      @media (max-width: 760px) {
        .illustration {
          display: none;
        }
      }
    }

    @media (max-width: 1000px) {
      .about-section {
        flex-direction: column;
        justify-content: center;
        height: 80vh;
        height: max-content;
        padding: 2em 0;
      }

      .about-me-text {
        width: 90% !important;
      }
    }

    @media (max-width: 400px) {
      .about-section {
        padding: 1em 0;
      }
    }

    .about-section.active {
      transform: translate(-50%, -50%) scale(1);
      left: 50%;
      pointer-events: all;
    }
  

#label-name, #label-email, #label-message, #copy-text{
  color: var(--light);
}



